* {
  margin:0;
  padding: 0;


}

h1 {
  display: block;
  font-size: 3em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


body {

  margin: 0 75px 0 100px  ;
  
  }
  


#logo {

  height: 60px;

  }

ul {

  list-style-type: none;
  overflow: hidden;
  float: right;
}

li {

  float: left;
  margin: 25px 20px 20px 20px ;
 
}

li:active {
  color: rgb(55, 55, 59);

}

li:hover {
  color: rgb(0, 0, 0;
}

p {
  color: rgb(14, 10, 1);
  margin-right: 50px;
  margin-left: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

   
#navbar
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  align-content: center;
  text-align: center;
  width: 100%;
  padding: 2em 2em 2em 2em;
  size: 5em;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


.products
{
  margin: 1em 1em 1em 1em;
  margin-bottom: 4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.product_box
{
  width: 93%;
  border: 5px solid #f1ab86;
  border-radius: 1em;
  padding: 1em 1em 3em 1em;
  margin: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


tr: first-child
{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table, th, td 
{
  border: 1px solid black;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid black;
  border-collapse:collapse;
  color: black;
  width: 100em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.text
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #195327;
  text-shadow: -1px 1px #251605;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.tablepic
{
  height: 2em;
  width: 6em;
  border:solid 1em #3A3042;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

footer
{
  text-align: center
  margin-top: 1em;
    color:blank;
    font-family: Georgia, 'Times New Roman', Times, serif;
}